/data/

__pycache__/
*.py[cod]
*.pyo
.Python

.venv/
venv/
env/

.ipynb_checkpoints/
*.ipynb_checkpoints

.uv/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.log
logs/

.env
*.env
secrets.py

# exclude model from git 
xgboost_final.json

todos.md